body{
    min-height: 98vh;
    min-width: 98vw;
    background-color: #166d5c;
}
.container-geral{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.titulo-pagina{
    font-size: 35px;
    color: white;
    text-transform: uppercase;
}
.pai-titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.terminar,.adicionar,.finalizadas{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: x-large;
    text-transform: uppercase;
    color: rgb(255, 242, 242);
    width: 300px;
    height: 40px;
    border-radius:6px;
    cursor: pointer;
}
.terminar{
    background-color: rgb(0, 162, 255);
}
.adicionar{
    background-color: rgb(207, 204, 25);  
}
.adicionar-clicado{
    position: absolute;
    top:100px;
}
.finalizadas{
    background-color: rgb(0, 233, 12);
}
.tasks-terminar,.tasks-finalizadas{
    position: absolute;
    right: 10px;
}