body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
:root{
    --general-color: black;
    --option-font-size: 30px;
    --option-font-family: Calibri;
    --title-tasks-font-size: 28px;
    --title-tasks-font-family: Verdana;
}
header{
    position: absolute;
    top: 0;
    width: 100vw;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
header .nav-options .all-options{
    display: flex;
}
header .nav-options .all-options a{
    text-decoration: none;
    color: var(--general-color);

}
header .nav-options .all-options .option{
    margin: 0 20px;
    list-style: none;
    font-size: var(--option-font-size);
    font-family: var(--option-font-family);
    border-bottom: 2px  groove rgb(0, 0, 0);
    transition: 200ms;
}
header .nav-options .all-options .option:hover{
    font-size: 34px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
    margin-top: 80px;
}
.center h1{
    font-size: var(--title-tasks-font-size);
    font-family: var(--title-tasks-font-family);
}
.card-task{

}